.sortable-widget .sortable-container {
    min-height: 50px;
    background-color: #eee;
    padding: 3px !important;
}

.sortable-widget .list-group-item {
    overflow: auto;
    word-break: break-word;
}

.sortable-widget .list-group-item .badge {
    margin-top: 5px;
}
